



<%27.times do |n|%>


      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="thumbnail">
          <div class="members">
            <%=link_to image_tag(  "members/#{(n+1).to_s.rjust(3, '0')}.jpg",  class:''),:root%>
          </div>
        </div>
      </div>



<%end%>
