
<div class="wow fadeIn ">
  <%= image_tag "photos/inside_photo_3.jpg", class: "d-block img-fluid full-screen" %>
</div>


<div class="container">
  <div class="col-md-12">
    <h1 class="orange wow fadeInLeft" id="Team">Team</h1>

  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <%= render 'home/team' %>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <h1 class="orange wow fadeInLeft" id="Philosophy">Philosophy</h1>
    <p class=" wow fadeInRight">
      <strong>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. Steve Jobs</strong>

    </p>

    <h1 class="orange wow fadeInLeft" id="Careers"> Careers </h1>
    <p class=" wow fadeInRight">
      <strong>Want to join the team? We are currently recruiting for our Internship Program.</strong>
      <br>
      <span class="orange">Send your resume to <a href="mailto:careers@thesfvault.com?subject=Want%20to%20join%20the%20team">careers@thesfvault.com</a></span>
    </p>

  </div>
</div>






<script>

    var wow = new WOW(
        {
            boxClass: 'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset: 0,          // distance to the element when triggering the animation (default is 0)
            mobile: true,       // trigger animations on mobile devices (default is true)
            live: true,       // act on asynchronously loaded content (default is true)
            callback: function (box) {
                // the callback is fired every time an animation is started
                // the argument that is passed in is the DOM node being animated
            },
            scrollContainer: null // optional scroll container selector, otherwise use window
        }
    );
    wow.init();


</script>