<%= image_tag "logo_white.svg", size: "200" %>

<h1 class="uppercase">a collaborative workspace and innovation hub</h1>

<h2 class="uppercase">Accepting New Members Now</h2>

<%= link_to 'Become A Member', :root,class:"btn btn-default" %>
<%= link_to 'Host an Event',:root ,class:"btn btn-default"%>





<h1 class="orange">Let's CO!</h1>
The Vault is a collaborative workspace and innovation hub founded on the principle that people work better together. We offer state-of-the-art workspaces, resources, talent, knowledge and networks to help startups grow better and faster.

<p class="orange">Email concierge@thesfvault.com to schedule a tour!</p>


<div class="toggle-play-video ng-scope" hm-tap="onAlternateVideoTap()" ng-if="isIPad || (isSafari &amp;&amp; !isIphone) || isFirefox" style="">
  <div class="n2-icon play-icon ng-hide" ng-show="playIconVisible" ng-style="playIconCss &amp;&amp; {'background-image': playIconCss}" style=""></div>
</div>


<h1 class="orange">Amenities</h1>
The Vault offers a host of amenities to foster creativity, learning & collaboration.






Concierge services



Conference rooms
and classrooms


2,000 square foot
event space


Outdoor Patio



Free, super fast Wi-Fi


Exercise Room




Free printing and
office supplies


Apple TV and
Chromecast


Snacks, beer and wine


Built-in Bar




Library


Private
phone booths


Perks



Weekly Yoga
Sessions




Espresso and
Coldbrew Coffee


Events and
workshops


<h1 class="orange">Resources</h1>
<p>The Vault offers a host of resources to foster creativity, learning & collaboration.</p>

Investment Advisors


In House Mentors


Document Library


Office Hours

<%= image_tag "photos/inside_photo_1.jpg"%>

<h1 class="orange">Location</h1>
<p>The SF Vault is located in Jackson Square - once the frontline of the Barbary Coast - amidst art galleries, boutiques, antique dealers and fine dining. The space boasts a rich history as the original home of the Ghiradelli chocolate factory in 1851. The location, which once served as home to one of San Francisco's most successful companies, has been redesigned once again as a home for innovation.</p>
