

    <nav class="navbar fixed-top  navbar-light bg-faded">
      <div class="container">
        <div class="col-md-12">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">

        <%= image_tag "logo_darck.png", size: "60",class:"d-inline-block align-top" %>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Amenities</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Photo Gallery</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Members</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">From the Vault</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
          <%= image_tag "logo_darck.png", size: "60",class:"nav-link" %>
          </li>









        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
      </div>
        </div>
      </div>
    </nav>
