<nav class="navbar fixed-top  navbar-light bg-faded" id="nav">


  <button class=" navbar-toggler-right " style="right: 11vw; top: 25px" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <a class="navbar-brand" style="padding-left: 11vw" href="/">        <%= image_tag "logo_darck.png", size: "60", class: "" %>      </a>

  <div class=" d-flex justify-content-center">

    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto " style="text-align: center">

        <li class="nav-item active">
          <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Amenities">Amenities</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#Location">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Photo_Gallery">Photo Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Members">Members</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#From_the_Vault">From the Vault</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#Team">Team</a>
        </li>
        <div class=" d-flex justify-content-center">
          <li class="nav-item ">
            <%= image_tag "logo_darck.png", size: "60", class: "d-flex justify-content-center" %>
          </li>
        </div>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      <!--</form>-->
    </div>
  </div>


</nav>


<script>
    $(document).ready(function () {

        var header = $("#nav"); // Меню
        var scrollPrev = 0 // Предыдущее значение скролла

        $(window).scroll(function () {
            var scrolled = $(window).scrollTop(); // Высота скролла в px
            var firstScrollUp = false; // Параметр начала сколла вверх
            var firstScrollDown = false; // Параметр начала сколла вниз

            // Если скроллим
            if (scrolled > 0) {
                // Если текущее значение скролла > предыдущего, т.е. скроллим вниз
                if (scrolled > scrollPrev) {
                    firstScrollUp = false; // Обнуляем параметр начала скролла вверх
                    // Если меню видно
                    if (scrolled < header.height() + header.offset().top) {
                        // Если только начали скроллить вниз
                        if (firstScrollDown === false) {
                            var topPosition = header.offset().top; // Фиксируем текущую позицию меню
                            header.css({
                                "top": topPosition + "px"
                            });
                            firstScrollDown = true;
                        }
                        // Позиционируем меню абсолютно
                        header.css({
                            "position": "absolute"
                        });
                        // Если меню НЕ видно
                    } else {
                        // Позиционируем меню фиксированно вне экрана
                        header.css({
                            "position": "fixed",
                            "top": "-" + header.height() + "px"
                        });
                    }

                    // Если текущее значение скролла < предыдущего, т.е. скроллим вверх
                } else {
                    firstScrollDown = false; // Обнуляем параметр начала скролла вниз
                    // Если меню не видно
                    if (scrolled > header.offset().top) {
                        // Если только начали скроллить вверх
                        if (firstScrollUp === false) {
                            var topPosition = header.offset().top; // Фиксируем текущую позицию меню
                            header.css({
                                "top": topPosition + "px"
                            });
                            firstScrollUp = true;
                        }
                        // Позиционируем меню абсолютно
                        header.css({
                            "position": "absolute"
                        });
                    } else {
                        // Убираем все стили
                        header.removeAttr("style");
                    }
                }
                // Присваеваем текущее значение скролла предыдущему
                scrollPrev = scrolled;
            }
        });
    });


</script>